CONSTRAINTS:
{% include 'output-constraints/do-not-use-bigint.j2' %}
{% include 'output-constraints/preserve-control-flow-structure.j2' %}
{% include 'output-constraints/translating-none-comparison.j2' %}
{% include 'output-constraints/translating-function-calls.j2' %}
{% include 'output-constraints/use-var-for-variable-declarations.j2' %}
{% if use_constraint_trans_assignment_declare_second %}
{% include 'output-constraints/translating-assignment-declare-second.j2' %}
{% endif %}
{% if use_constraint_trans_assignment_declare_first %}
{% include 'output-constraints/translating-assignment-declare-first.j2' %}
{% endif %}
{% if use_constraint_trans_equals_op %}
{% include 'output-constraints/translating-equals-operator.j2' %}
{% endif %}
{% if use_constraint_trans_modulus_op %}
{% include 'output-constraints/translating-modulus-operator.j2' %}
{% endif %}
{% if use_constraint_trans_comp_stat %}
{% include 'output-constraints/translating-compound-statement.j2' %}
{% endif %}
{% if use_constraint_trans_array_sort %}
{% include 'output-constraints/translating-array-sort.j2' %}
{% endif %}
{% if use_constraint_trans_raise_statement %}
{% include 'output-constraints/translating-raise-statement.j2' %}
{% endif %}
{% if use_constraint_trans_multiline_strings %}
{% include 'output-constraints/translating-multiline-strings.j2' %}
{% endif %}
{% if use_constraint_trans_for_enumerate | default(false) %}
{% include 'output-constraints/translating-for-enumerate.j2' %}
{% endif %}
