* Do not rewrite control flow into conditional/ternary expressions.
  If the {{src_language}} code contains if/elif/else (or other control flow),
  translate it as explicit {{tar_language}} control-flow statements.