* When translating multiline strings to JavaScript, preserve all characters, including the new line character.
  That is, both the original and the translated string should evaluate to the same string.
  In other words, when printed, the original and the translated string should look exactly the same.